great-expectations==1.18.0
 pandas==2.2.3
 numpy==1.26.4
 sqlalchemy==2.0.36
 pytest==8.4.2
 pyodbc==5.2.0
 snowflake-connector-python==3.17.4
 snowflake-sqlalchemy==1.7.7

pip install great-expectations==1.18.0
pip install pandas==2.2.3
pip install numpy==1.26.4
pip install sqlalchemy==2.0.36
pip install pytest==8.4.2
pip install pyodbc==5.2.0
pip install snowflake-connector-python==3.17.4
pip install snowflake-sqlalchemy==1.7.7
pip install python-dotenv


Python: 3.12
great_expectations: 1.18.0
numpy: 1.26.4
scipy: 1.11.4
pandas: 2.2.3
sqlalchemy: 2.0.x
pytest: 8.x


add the project in git : 
git init
git add .
git commit -m "Initial commit"

git remote -v - to verify remote repo is generated
git log --oneline - to verify the log 
git remote add origin https://github.com/sangeethaprasath31/ETL_GE_FW.git
 git branch
git push -u origin master

