SQLSERVER_SERVER=sqlserverretail756.database.windows.net
SQLSERVER_DATABASE=retaildb
SQLSERVER_USERNAME=retaildbadmin
SQLSERVER_PASSWORD=Dharmavaram1@
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server

SNOWFLAKE_ACCOUNT=OKGQXGH-XZ64723
SNOWFLAKE_USER=SANGITARMP
SNOWFLAKE_PASSWORD=Angrybird@2026
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=your-EMPLOYEE
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_ROLE=ACCOUNTADMIN
